@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.priceContainer {
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .dotsContainer {
    @include m.flexBox(row, center, center, 0rem);

    span {
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
      border: 1px solid #000;

      @media (min-width: 1200px) {
        width: 1.5vw;
        height: 1.5vw;
      }

      &.line {
        border-radius: 0%;
        height: 0vw;
        width: 30vw;
        border-top: 1px solid #000;

        @media (min-width: 1200px) {
          width: 15vw;
        }
      }
    }
  }
}
