@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.reviewsContainer {
  @include m.flexBox(column, center, flex-start, 0.5rem);
  @extend %trebuchet;

  .reviewBar {
    @include m.flexBox(row, space-evenly, center, 2rem);
    border-bottom: 1px solid #000;
    width: 80vw;

    &:last-of-type {
      border: 0;
    }

    p:first-of-type {
      width: 250px;
    }

    p:nth-of-type(2) {
      width: 370px;
      max-width: 370px;
    }

    p:last-of-type {
      color: red;
    }
  }
}
