@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.logoStyling {
  background: $brown;
  color: $white;
  text-align: center;
  border: 1px solid $black;
  width: 80vw;
  margin: 1rem;
  @extend %odibee;
  font-weight: lighter;
  font-style: normal;
}
