@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.logoStyling {
  background: $brown;
  color: $white;
  text-align: center;
  border: 1px solid $black;
  width: 80vw;
  margin: 1rem;
  @extend %odibee;
  font-weight: lighter;
  text-decoration: none;
  font-style: normal;

  @media (min-width: 1200px) {
    width: 17vw;

    h1 {
      font-size: 37px;
      margin: 1.5rem 0rem;
    }
  }

  a {
    text-decoration: none;
  }
  h1 {
    color: $white;
  }
}
