@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.cardStyling {
  @include m.flexBox(column, center, center, 0.5rem);
  @extend %trebuchet;
  background: #ffffff67;
  border: 2px solid #6d6464;
  border-radius: 6px;
  padding: 1rem;
  position: relative;
  z-index: 99;
  img {
    width: 100%;
  }

  p {
    margin: 0;
  }

  .headerInfo {
    span {
      padding-left: 0.2rem;
    }

    .likeContainer {
      position: absolute;
      right: 5%;
      top: 55%;
      z-index: 999;

      svg {
        font-size: 20px;
      }

      .likedEstate {
        color: #810814;
      }
    }
  }

  figcaption {
    width: 100%;

    .energyType {
      display: block;
      width: 5vw;
      height: 3vh;
      text-align: center;
      color: $white;

      &.A {
        background: #2d9d40;
      }
      &.B {
        background: #74a634;
      }
      &.C {
        background: #d2a20c;
      }
      &.D {
        background: #d27e17;
      }
      &.E {
        background: #cb4c23;
      }
      &.F {
        background: #810814;
      }
      &.G {
        background: #5a2a57;
      }
    }
    .infoContainer {
      @include m.flexBox(row, flex-start, center, 0.5rem);
    }
  }
}
