@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.cardStyling {
  @include m.flexBox(column, center, center, 0.5rem);
  @extend %trebuchet;
  border: 2px solid $rosa;
  border-radius: 6px;
  padding: 1rem;
  position: relative;
  img {
    width: 100%;
  }

  p {
    margin: 0;
  }

  .headerInfo {
    span {
      padding-left: 0.2rem;
    }

    .likeContainer {
      position: absolute;
      right: 5%;
      top: 55%;
      
      svg {
        font-size: 20px;
      }
    }
  }

  figcaption {
    width: 100%;
    .infoContainer {
      @include m.flexBox(row, flex-start, center, 0.5rem);
    }
  }
}
