@use "../../styles/mixins" as m;
@use "../../styles/placeholders";

header {
  h2 {
    text-align: center;
    @extend %trebuchet;
  }
}

.wrapperStyling {
  &.estatesShowcase {
    margin-top: -4rem;
    z-index: 99;

    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.1rem;
    }
  }

  &.estateShowcase {
    z-index: 99;
    @media (min-width: 1200px) {
      margin-top: -11rem;
    }
  }

  &.employee {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin: 0rem 2rem;
    }
  }

  &.login {
    margin: 1rem;
    min-height: 35vh;

    @media (min-width: 1200px) {
      min-height: 80vh;
      margin: 1.5rem 3rem;
    }
  }

  &.favoritDashboard {
    @media (min-width: 1200px) {
      margin-left: 2rem;
    }
  }

  &.filterWrapper {
    @include m.flexBox(column, center, center, 0.5rem);
    padding: 1rem;
    margin-bottom: 4rem;

    h2 {
      @extend %trebuchet;
    }

    section {
      @include m.flexBox(column, center, center, 1rem);
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
      margin: 0rem 2rem 3rem 2rem;

      section {
        flex-direction: row;
        justify-content: flex-end;
        gap: 4rem;
      }
    }
  }
}
