@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.navStyling {
  @include m.flexBox(column, center, center, 1rem);
  margin: 0;
  padding: 0;

  @media (min-width: 1200px) {
    flex-direction: row;
  }

  &.hiddenStyling {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  li {
    @extend %odibee;
    list-style: none;

    a {
      color: $white;
      text-decoration: none;
      font-size: 25px;

      &.activeLink {
        color: $brown;
      }
    }
  }
}
