@use "../../styles/variables" as *;

.sliderStyling {
  z-index: 9;
  border-bottom: 10px solid $black;
  img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 30vh;

    @media (min-width: 1200px) {
      height: 50vh;
    }
  }
  @media (min-width: 1200px) {
    border-bottom: 16px solid $black;
  }
}
